<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer plantilla</title>
</head>
<body>
    <h1>Mi primer página con: <br> {{framework}}</h1>
</body>
</html>